+++
title = "Collabnix"
linkTitle = "Collabnix"

+++

{{< blocks/cover title="Welcome to Collabnix Community" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://launchpass.com/collabnix">
		Join Slack <i class="fab fa-slack ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Collabnix is an open community of more than 5000+ DevOps enthusiasts. Find the community resources to help you get started and contribute to Collabnix Community.

	
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-construction" title="Construct" %}}
Bring your project ideas and we are here to help you shape it up!
	
	
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack-hash" title="Collaborate" url="https://github.com/google/docsy-example" %}}
You can collaborate with us via [Community Slack](https://launchpass.com/collabnix) and share your project ideas
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contribute" url="https://twitter.com/docsydocs" %}}
We do a [Pull Request](https://github.com/collabnix/community/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Community Projects</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-docker" title="DockerLabs" url="https://dockerlabs.collabnix.com" %}}
An ultimate Docker  Hands-on Labs for You
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-ship" title="Kubelabs" url="https://kubelabs.collabnix.com" %}}
An ultimate Kubernetes Hands-on Labs for You
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-tools" title="Kubetools" url="https://kubetools.collabnix.com" %}}
A Curated List of Kubernetes tools
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
